:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #8a470c;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

#main-header {
  position: relative; /* establish positioning context */
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 90px;
  font-family: var(--font-headline);
}

.logo img {
  height: 90px;
  margin-right: 0.25em;
}

.logo a {
  margin-left: 25px;
  font-size: 44px;
  text-decoration: none;
  color: var(--font-body);
}

.cart {
  position: absolute;
  top: 0;
  right: 0; /* or right: 20px for spacing */
}

.cart svg {
  height: 70px;
  fill: var(--dark-grey);
  margin: 10px;
  transition: fill 0.3s;
}

.cart:hover svg {
  fill: gray;
}
/* end cart formatting */
/* hero section */
.divider {
  border-bottom: 2px solid var(--primary-color);
}
.hero {
  position: relative;
}
.hero img {
  width: 100%;
  height: auto;
  display: block;
}
/* class="logo logo--square",*/
.logo--square {
  position: absolute;
  /*move the upper border to bottom center of hero image*/
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5em 1em;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  font-size: 50px;
}
/*image inside logo*/
.logo--square img {
  height: 100px;
  margin-right: 0.25em;
}
/* end hero section */


/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
/* End cart icon styles */
.mission {
  /* Locate mission paragraph below hero image */
  position: relative;
  top: 1rem;
  left: 0;
  right: 0;
  line-height: 1.3;
  width: 100%;
  background-color: var(--dark-grey);
}
.mission p {
  margin: 0 auto;
  color: white;
  font-weight: bold;
  font-size: 34px;
  padding: 0.5rem;
  opacity: 0.8;
  width: 100%;
  text-align: center;
}
/*Categories section*/
.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
  flex-wrap: wrap;
}
.categories h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 44px;
  font-weight: bold;
  color: blue;
}
.categories .category {
  /* display the items below h2*/
  display: flex;
  flex-direction: row;
  align-items: center;
  /*separate items with gap*/
  gap: 70px;
  flex-wrap: wrap;
  justify-content: center;
}
.categories .category a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: auto;
  /*separate items with gap*/
  text-decoration: none;
  color: var(--dark-grey);
  font-size: 1.2rem;
  border: 2px solid var(--light-grey);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition:
    background-color 0.3s,
    color 0.3s;
}
.categories .category a img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: auto;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.products {
  margin-top: 2rem;
  padding: 1rem;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: center;
}

.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}

/* Ensure product images do not exceed their container */
.product-card img {
  width: 100%;
  height: auto;
}

.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

.product-card__discount {
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-between;
}

.discount-tag {
  color: red;
  font-weight: 900;
  width: 100%;
  margin: 0;
  padding: 0;
}

.discount-price {
  font-weight: 700;
}

.original-price {
  text-decoration: line-through;
}

/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}

.cart-card p {
  margin-top: 0;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .mission {
    font-size: 1.2em;
  }

  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--large-font);
  text-align: center;
  background-color: var(--tertiary-color);
  color: white;
  padding: 1em;
}

